* {
    font-family: Kanit;
}

@media (min-width: 992px) {
    .text-lg-white {
    color: #fff !important;
}
}

.text-gold {
    color: #D2AE6E !important;
}

.bg-gradient-gold {
    background-image: linear-gradient(195deg, #D2AE6E 0%, #A68C4C 100%);
}

.text-gradient.text-gold {
    background-image: linear-gradient(195deg, #D2AE6E 0%, #A68C4C 100%);
}

.btn-gold {
    background-color: #D2AE6E;
    color: #fff;
}

.btn-gold:hover {
    background-color: #cdaf7a;
    color: #fff;
}

.btn.btn-gold:active {
    background-color: #D2AE6E;
    color: #fff;
}

.scroll {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.input-group.input-group-outline.is-focused .form-label+.form-control,
.input-group.input-group-outline.is-filled .form-label+.form-control {
    border-color: #D2D6DA !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 #D2D6DA, inset -1px 0 #D2D6DA, inset 0 -1px #D2D6DA;
}

.input-group.input-group-outline.is-focused .form-label:before,
.input-group.input-group-outline.is-focused .form-label:after,
.input-group.input-group-outline.is-filled .form-label:before,
.input-group.input-group-outline.is-filled .form-label:after {
    border-top-color: #D2D6DA;
    box-shadow: inset 0 1px #D2D6DA;
}

.input-group.input-group-outline.is-focused .form-label,
.input-group.input-group-outline.is-filled .form-label {
    color: #333;
}